@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
    --red: #ec3750;
    --blue: #338eda;
    --green: #33d6a6;
    --darkless: #17171d;
}

@theme inline {
    --color-red: var(--red);
    --color-blue: var(--blue);
    --color-green: var(--green);
    --color-darkless: var(--darkless);
}

* {
    font-family: "Space Grotesk", sans-serif;
}

body {
    @apply bg-darkless text-white;
}
